div.center-carousel
{
	margin: 15px;
}

div.center-carousel-wrapper
{
	overflow: hidden;
	display: inline-block;
	position: relative;
	float: left;
}

div.center-carousel-item
{
	display: inline;
	position: absolute;
	cursor: pointer;
}

div.center-carousel-item img
{
	vertical-align: bottom;
}

div.center-carousel-item-caption
{
	display: none;
	background-color: rgba(200, 200, 200, 0.65);
	vertical-align: bottom;
	padding: 5px;
}